{erl_opts, [debug_info, warn_keywords, warnings_as_errors]}.

{deps, []}.

{eunit_opts, [verbose]}.

{dialyzer, [
  {warnings, [underspecs, no_return, unknown]}
]}.

{xref_checks,[
    %% enable most checks, but avoid 'unused calls' which is often
    %% very verbose
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

% property based - PropEr
%% https://rebar3.org/docs/configuration/plugins/#proper
{plugins, [rebar3_proper]}.

{profiles,
    [{test, [
        {deps, [{proper, "1.5.0"}, recon]}
    ]}
]}.

% every other language has
% rebar3 test
{alias, [{test, [eunit, proper]}]}.
